<div class="vk-card">

# Объект AccountValidationResult

Модель ответа на запрос проверки учетной записи [`auth.validateAccount`](/reference/auth/validateAccount).

</div>

<div class="vk-card">

# Поля объекта

| Поле / Тип | Описание |
| :--- | :--- |
| **FlowName** <br> `string` | Название требуемого сценария аутентификации (например, `need_password`). |
| **Sid** <br> `string` | Идентификатор сессии валидации. |

</div>
